body {
    background-image:url(../images/FondoIndex.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin: 0;
    color: #000000;
    height: 100%;
    
    
}
/* intente agregar opacidad por encima del background image sin resultado aplicando
.backgroundColorOpacity {
    background-color: rgba(0, 0, 0, 0.5);
}*/
.header {
    background: rgb(93,64,55);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47901) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}
html {
    margin-bottom: 0px;
    height: 100%;
    

}


footer {

    bottom: 0px;
    width: 100%;
    height: auto;
    padding: auto;
    text-align: center;
    margin-bottom: 0px;
    background: rgb(93,64,55);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.47901) 100%);
    
}

.footer {
    position: fixed;
}
@font-face {
    font-family: Poppins ;
    src: url('assets/Fonts/Poppins-Regular.ttf');
}



.Gradientefooter {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.47901) 100%); 
    

}
section a {
    text-decoration: none;
    list-style-type: none;
    -webkit-text-fill-color: #D7CCC8;
    padding-right: 10px;}

.clientListColor {
    -webkit-text-fill-color: #5D4037;
}
header div ul {
    
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    text-decoration: none;
    align-items:flex-end;
}
li {
    float:right;
    padding-left: 10px;
    padding-right: 10px;
} 

li a{
    text-decoration: none;
    list-style: none;
    -webkit-text-fill-color: #D7CCC8;
    font-size: 25px;
    font-weight: bold;}

.LetraBlanca{
    text-decoration: none;
    list-style: none;
    -webkit-text-fill-color: #D7CCC8;
    font-size: 6vh;
}
.LetraBlancaContacto{
    text-decoration: none;
    list-style: none;
    -webkit-text-fill-color: #D7CCC8;
}

.banner1 {
    background-image:url(../images/banner1.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;

}

.banner2 {
    background-image:url(../images/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center; 
}

.banner3 {
    background-image:url(../images/banner3.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;   
}

.banner4 {
    background-image:url(../images/banner4.jpg);
    background-attachment: fixed;
    background-size: cover;
    align-items: center;   
}


.Nosotros {
    text-align:left;
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.479);
    align-items: center;
}

.FondoOpacidad {
        background-color: rgba(0, 0, 0, 0.47901);
        border-color: black;
    
}
.FondoOpacidadNegroBlanco {
    background: rgb(255, 255, 255, 0.479);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.479) 0%, rgba(0, 0, 0, 0.47901) 100%);
}

.FondoOpacidadBlancoNegro {
    background: rgb(255, 255, 255, 0.479);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.47901) 0%, rgba(255, 255, 255, 0.479) 100%);
}

.Vh5 {font-size: 5vh

}
.Vh6 {font-size: 6vh

}
.bodyContacto {
    background-image:url(../images/FondoIndex.jpg);
    background-attachment: fixed;
    position: center;
    background-size: cover;
    align-items: center;
    font-family: 'Bebas Neue';}

.FuenteTitulos {
    font-family: 'Bebas Neue';
}



.Centerimages {
    font-size: 4vh;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.14609593837535018) 0%, rgba(255,255,255,0.5018382352941176) 100%);
    text-align: center;
}
.text-align{ text-align:center;
}

.menu{
    display: flex;
    align-items: center;

}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;

}

.btn-naranja {
    color: #fff;
    background-color: #fd7a1c;
    border-color: #df6c1a;
}
.btn-naranja:hover {
    color: #fff;
    background-color: #cc6216;
    border-color: #c96117;
}

.w-65 {
    width: 65% !important;
}
.mw-65 {
    max-width: 65% !important;
}
.SombraTexto {
    text-shadow: 0px 0px 15px #000000;

}
.SombraTextoB {
    text-shadow: 0px 0px 15px #ffffff;

}
.navbar-toggler-2 {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgba(255, 255, 255, 0.479);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 253, 253, 0.507);
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, 0.459);
    border-radius: 0.50rem;}

.border-dark {
    border-color: #21252986 !important;}
.border-navbar {
    border-color: #fd781c !important;}
.border-naranja {
    border-color: #fd781c !important;}
.border-naranja-inline {
    border-color: #fd7a1c7e !important;}

@media screen and (max-width: 990px) {
.hideresponsive{
display:none ;
}
}

@media screen and (max-width: 350px)  {
.hidefullscreennav{
    display:none !important;
}
}
@media screen and (min-width: 990px) {
    .hidefullscreen{
    display:none ;
}
}

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #fd7a1ce1;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

.footerbottom{
    position:fixed;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:45%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.texto-borde {
    -webkit-text-stroke: 2px #fd7a1c77;

}

.loader {
    position: fixed;

    left: 0px;
    top: 0px;
    max-width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/New-file.gif') 50% 50% no-repeat rgb(0, 0, 0);
   
    background-size:contain;
    opacity: 1;
   
}

